.homeWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.homeText {
  max-width: 1000px;
  background-color: rgba(144, 144, 145, 0.247);
  border-radius: 10px;
  padding: 10px;
}
